@charset "UTF-8";

/*Configurações iniciais*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(244, 216, 255);
    font-family: Aldrich, Bebas Neue, sans-serif;
}

/*Configurar títulos*/
h1 {
    font-family: Bebas Neue, sans-serif;
    font-size: 36px;
    padding: 0 20px 20px;
    background: rgb(244, 216, 255);
}

h2 {
    font-family: Bebas Neue, sans-serif;
    font-size: 36px;
    padding: 0 20px 20px;
    background: rgb(244, 216, 255);
}

/*tags*/
p {
    text-align: justify;
    padding: 0 20px;
}

/*Menus*/
/*Menu principal*/
.menu {
    display: flex;
    flex-direction: row-reverse;
    background: rgb(45, 33, 49);
    font-size: 20px;
    font-family: Aldrich;
    text-decoration: none;
}

.menu ul {
    flex-direction: row;
    list-style: none;
    padding: 10px 50px;
    align-items: center;
    background: rgb(45, 33, 49);
}

.menu ul li {
    background: rgb(45, 33, 49);
    display: inline;
    padding: 10px;
}

.menu ul li a{
    color: rgb(215, 175, 252);
    display: inline-block;
    text-decoration: none;
}
.menu ul li a:hover{
    color: rgb(110, 108, 108);
}

/*Menu Lateral*/
/*Menu do Footer*/
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 60px 0;
    background: rgb(45, 33, 49);
    gap:120px;
}
footer ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: start;
    font-family: Bebas Neue, sans-serif;
    color: rgb(215, 175, 252);
}

footer ul li{
    display: inline;
    padding: 5px;
    font-family: Aldrich, sans-serif;
}

footer ul li a{
    color: rgb(215, 175, 252);
    display: inline-block;
    text-decoration: none;
}
footer ul li a:hover{
    color: rgb(58, 58, 58);
}

/**/
.home {
    display: flex;
    flex-direction: column;
}

main {
    background: rgb(223, 142, 255);    
}

/*seções*/
section {
    display: flex;
    flex-direction: column;
}

section.info {
    flex-direction: row;
    background: rgb(244, 216, 255);
    justify-content: center;
    align-items: start;
    padding: 60px 0;
    
}

section.info img {
    width: 400px;
}

section.info div {
    background: rgb(244, 216, 255);
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    width: 600px;
}

section.info div p {
    background: rgb(244, 216, 255);
    padding: 0;
    
}

.legend {
    align-items: end;
    gap: 60px;
}

section.info_inv {
    flex-direction: row-reverse;
    background: rgb(223, 142, 255);
    justify-content: center;
    align-items: start;
    padding: 60px 0;
    
}

section.info_inv img {
    width: 400px;
}

section.info_inv div {
    background: rgb(223, 142, 255);
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 0 20px;
    width: 600px;
}

section.info_inv div p {
    background: rgb(223, 142, 255);
    padding: 0;
    
}

section.info_inv div h2 {
    background: rgb(223, 142, 255);
    
}

section.info_inv  .legend {
    align-items: start;
    gap: 60px;
}


section.info_inv .btn_detalhes {
    width: 200px;
    height: 46px;
    padding: 0 10px;
    border-radius: 25px;
    background: rgb(182, 14, 248);
    font-size: larger;
}

section.proj {
    flex-direction: row;
    background: rgb(223, 142, 255);
    padding: 60px 0px;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}

section.blog{
    flex-direction: row;
}

section.txtPrinc {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:  60px 30px ;
    gap: 20px;
}

section.txtPrinc img{
    width: 400px;
    margin:30px;
}

section .menuVert {
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    background: rgb(223, 142, 255);
    font-family: Bebas Neue, sans-serif;
    font-size: 15px;
    text-decoration: none;
}

section .menuVert ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 10px 50px;
    font-family: Bebas Neue, sans-serif;
    font-size: 20px;
    background: rgb(223, 142, 255);
}

section .menuVert ul li {
    background: rgb(223, 142, 255);
    display: inline;
    padding: 5px;
    font-size: 14px;
    font-family: Aldrich, sans-serif;
}

section .menuVert ul li a{
    color: rgb(17, 17, 17);
    display: inline-block;
    text-decoration: none;
}
section .menuVert ul li a:hover{
    color: rgb(58, 58, 58);
}

section.sobre {
    flex-direction: row-reverse;
    justify-content: center;
    padding: 60px 0;
}
section.sobre img{
    align-items: start;
    max-width: 400px;
    max-height: 400px;
    margin:150px 0 0 0;
    background: white;
    border-radius: 25px;
}
section.sobre p{
   max-width: 800px;
}

/*botões*/
.btn_detalhes {
    width: 200px;
    height: 46px;
    padding: 0 10px;
    border-radius: 25px;
    background: rgb(182, 14, 248);
    font-size: larger;
}


.img_btn {
    width: 150px;
}

