/*Confg gerais*/
*{
    font-family: Aldrich, Bebas Neue, sans-serif;
}

:root{
   --bg-ligth-color: rgb(253, 250, 255);
   --base-ligth-color: rgb(244, 216, 255);
   --base-middle-color: rgb(223, 142, 255);
   --base-dark-color: rgb(182, 14, 248);
}

/*menu*/
.nav{
    justify-content: space-between;
    flex-direction: row;
}
.nav a{
    color: var(--base-ligth-color);
}
.nav a:hover{
    color: var(--base-middle-color);
}

.menuVert ul{

    color: var(--base-dark-color);
}
.menuVert a{
    color: var(--base-middle-color);
}
.menuVert a:hover{
    color: var(--base-dark-color);
}
#navbarNav{
    padding-left: 3rem;
}
/*Botões*/
.btn-color{
    background: var(--base-dark-color);
}
#btn-outline-game {
    color: var(--base-middle-color);
    background-color: transparent;
    background-image: none;
    border-color: var(--base-dark-color);
}

/*Config cores*/
.box{
background-color: red;
}
.bg-base-light{
    background-color:var(--bg-ligth-color);
}

.title{
    color: var(--base-middle-color);
}
.title li{
    color: var(--base-ligth-color);
}

/*Imagens*/
.imgpadrao{
    max-width: 400px;
    max-height: 400px;
    margin: 60px 0;
}
.img-banner{
    width: 100vw;
}

/*Footer*/
footer{
    padding: 2rem 20vh;
    bottom: 0;
    width: 100%;
}

